*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .app{
    background: radial-gradient(circle at 50% 68%, rgba(21, 14, 40, 1) 0%, rgba(144, 58, 255, 1) 50%, rgba(21, 14, 40, 1) 99%);
} */

.app{
    background: radial-gradient(circle at 7% 18%, rgba(144, 58, 255, 1) 0%, rgba(21, 14, 40, 1) 26%, rgba(144, 58, 255, 1) 60%, rgba(60, 20, 112, 1) 77%, rgba(21, 14, 40, 1) 89%);
}

